body{
    background-color: #000;
    margin-top: 45px;
    padding: 0;
    font-family: Poppins;
    line-height: 1.55;
    letter-spacing: -.02em;
    color: #fff;
    overflow: auto;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M15 9V4.5c0-.83-.67-1.5-1.5-1.5h-3C9.67 3 9 3.67 9 4.5V9H4.5C3.67 9 3 9.67 3 10.5v3c0 .83.67 1.5 1.5 1.5H9v4.5c0 .83.67 1.5 1.5 1.5h3c.83 0 1.5-.67 1.5-1.5V15h4.5c.83 0 1.5-.67 1.5-1.5v-3c0-.83-.67-1.5-1.5-1.5H15Z"></path></svg>') 12 12, auto;


}

* {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 6 6, auto !important;
  }
  
  

.container.center{
    border: none;
    margin: 0 auto;
}

p{
    margin-bottom: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 864px;
    min-height: 100vh;
}
@media(max-width:684px){
    .container{
        padding: 20px;
    }
}

.header{
    display: flex;
    flex-direction: column;
    position: relative;
}

.cursor-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 123, 255, 0.4);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
    backdrop-filter: blur(2px);
  }
  

.inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    flex: 1;
}

.header-logo a{
    flex: 0 0 auto;
    max-width: 100%;
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 5px 10px;
}

.header-logo:after{
    content: "";
    background: repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 0, transparent 10px);
    width: 100%;
    display: block;
}

.content{
    display: flex;
    flex-direction: column;
}

.label-content{
    margin-top: 0px;
}

hr{
    width: 100%;
    border: none;
    background: rgb(255, 255, 255) ;
    height: 2px;
}


.bracket{
    color: #fff;
}

.links{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.experience{
    display: flex;
    flex-direction: column;
    line-height: 1em;
    row-gap: 1.5em;
}

.experience.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience .icon{
    align-self: flex-start;
    padding: none;
}

.experience .icon .icon-img{
    height: 44px;
    width: 44px;
    border-radius: 8px;
    padding: 10px;
}

.experience .icon .icon-img.walker{
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.4s ease;
}

.experience .icon .icon-img.ttec{
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.4s ease;
}

.experience .icon .icon-img.ttec:hover{
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.experience .icon .icon-img.walker:hover{
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.description{
    color: #a0a0a0;
}


  



  


.experience .icon .icon-img.day5{
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.4s ease;
}

.experience .icon .icon-img.day5:hover{
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.experience .icon .icon-img.watstreet{
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.4s ease;
}

.experience .icon .icon-img.watstreet:hover{
    
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.experience .line{
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 190px;
    
}

.experience .title{
    color: #feffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.experience .tag{
    display: inline-block;
    background: #0c64c5;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    margin: 0 4px;
    padding: 6px;
    padding-bottom: 4px;
    line-height: 0.9em;
    margin-left: 10px;
}

.experience .desc{
    max-width: 100%;
    width: none;
}



.slide-underline {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.slide-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust as needed */
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.slide-underline:hover::after,
.slide-underline:focus::after {
  transform: scaleX(1);
}



.experience .icon .icon-img.site{
    background-color: rgba(255, 255, 255, 0.1);
}


.experience .icon .icon-img.electrium{
    background-color: rgba(164, 255, 149, 0.2);
}

.experience .icon .icon-img.tech{
    background-color: rgb(255, 255, 255);
}

.experience .icon .icon-img.loo {
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.3s ease;
  }
  
  .experience .icon .icon-img.loo:hover {
    background-color: rgba(192,193,126,0.4);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  }
  

.experience .icon .icon-img.filelink{
    background-color: rgba(12, 127, 189, 0.4);
}

.experience .icon .icon-img.python{
    background-color: rgba(73, 128, 158, 0.4);
}

.experience .icon .icon-img.c{
    background-color: rgba(205, 217, 223, 0.4);
}

.experience .icon .icon-img.js{
    background-color: rgba(255, 255, 255, 0.913);
}

.experience .icon .icon-img.sql{
    background-color: rgba(227, 236, 237, 0.913);
}

.experience .icon .icon-img.html{
    background-color: rgba(230, 159, 133, 0.913);
}

.experience .icon .icon-img.css{
    background-color: rgba(134, 149, 226, 0.913);
}

.experience .icon .icon-img.php{
    background-color: rgba(87, 99, 157, 0.913);
}

.experience .icon .icon-img.git{
    background-color: rgba(234, 164, 164, 0.913);
}

.experience .icon .icon-img.figma{
    background-color: rgba(255, 255, 255, 0.913);
}

.experience .icon .icon-img.boot{
    background-color: rgba(210, 141, 239, 0.913);
}

.experience .icon .icon-img.prgx{
    background-color: rgba(24,24,26,255);
    transition: background-color 0.2s ease, box-shadow 0.4s ease;
}
.experience .icon .icon-img.prgx:hover{
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.28);
}

.experience .icon .icon-img.wlop{
    background-color: rgba(0, 0, 0, 0.913);
}

.glitch{
    position: relative;
    color: #fff;
    font-weight: 900;
    font-family: Poppins;
    animation: glitch-skew 1s linear infinite alternate-reverse;
    font-size: 70px;
    line-height: 70px;
    padding-top: 20px;
}

.glitch:before{
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px,0);
    animation: glitch-anim 5s linear infinite alternate-reverse;
}

.glitch:after{
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s linear infinite alternate-reverse;
}


.glitch:after, .glitch:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.footer{
    padding: 5px 0;
    flex-grow: 0;
    opacity: .5;
}

.inner-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 760px;
    max-width: 100%;
}

.footer .copyright{
    display: flex;
    align-items: center;
    font-size: 1rem;
}


.dark-mode,:root {
    background: rgb(0, 0, 0);
    color: #fff;
    border-color: hsla(0,0%,100%,0.1)
}

.dark-mode,.dark-mode .logo {
    transition: all .25s linear
}

.dark-mode .logo {
    color: #000
}

.light-mode {
    background: #fff;
    color: #000;
    border-color: rgba(0,0,0,0.1);
    transition: all .25s linear
}

.light-mode .logo {
    color: #fff;
    transition: all .25s linear
}






/* ----- Animations */ 
@keyframes glitch-skew {
    0% {
        transform: skew(-4deg)
    }

    10% {
        transform: skew(3deg)
    }

    20% {
        transform: skew(-1deg)
    }

    30% {
        transform: skew(1deg)
    }

    40% {
        transform: skew(-3deg)
    }

    50% {
        transform: skew(-4deg)
    }

    60% {
        transform: skew(-1deg)
    }

    70% {
        transform: skew(4deg)
    }

    80% {
        transform: skew(2deg)
    }

    90% {
        transform: skew(4deg)
    }

    to {
        transform: skew(3deg)
    }
}



@keyframes glitch-anim {
    0% {
        clip: rect(96px,9999px,86px,0);
        transform: skew(.62deg)
    }

    5% {
        clip: rect(75px,9999px,61px,0);
        transform: skew(.44deg)
    }

    10% {
        clip: rect(64px,9999px,37px,0);
        transform: skew(.68deg)
    }

    15% {
        clip: rect(47px,9999px,41px,0);
        transform: skew(.17deg)
    }

    20% {
        clip: rect(66px,9999px,1px,0);
        transform: skew(.61deg)
    }

    25% {
        clip: rect(33px,9999px,4px,0);
        transform: skew(.87deg)
    }

    30% {
        clip: rect(78px,9999px,41px,0);
        transform: skew(.09deg)
    }

    35% {
        clip: rect(42px,9999px,19px,0);
        transform: skew(.71deg)
    }

    40% {
        clip: rect(89px,9999px,73px,0);
        transform: skew(.23deg)
    }

    45% {
        clip: rect(11px,9999px,79px,0);
        transform: skew(.69deg)
    }

    50% {
        clip: rect(75px,9999px,71px,0);
        transform: skew(.57deg)
    }

    55% {
        clip: rect(60px,9999px,32px,0);
        transform: skew(.63deg)
    }

    60% {
        clip: rect(95px,9999px,71px,0);
        transform: skew(.82deg)
    }

    65% {
        clip: rect(83px,9999px,81px,0);
        transform: skew(.16deg)
    }

    70% {
        clip: rect(27px,9999px,16px,0);
        transform: skew(.24deg)
    }

    75% {
        clip: rect(94px,9999px,11px,0);
        transform: skew(.93deg)
    }

    80% {
        clip: rect(38px,9999px,21px,0);
        transform: skew(.81deg)
    }

    85% {
        clip: rect(14px,9999px,21px,0);
        transform: skew(.08deg)
    }

    90% {
        clip: rect(26px,9999px,69px,0);
        transform: skew(.6deg)
    }

    95% {
        clip: rect(2px,9999px,40px,0);
        transform: skew(.81deg)
    }

    to {
        clip: rect(87px,9999px,33px,0);
        transform: skew(.06deg)
    }
}


@keyframes glitch-anim2 {
    0% {
        clip: rect(81px,9999px,49px,0);
        transform: skew(.56deg)
    }

    5% {
        clip: rect(61px,9999px,32px,0);
        transform: skew(.8deg)
    }

    10% {
        clip: rect(50px,9999px,73px,0);
        transform: skew(.68deg)
    }

    15% {
        clip: rect(68px,9999px,41px,0);
        transform: skew(.82deg)
    }

    20% {
        clip: rect(56px,9999px,83px,0);
        transform: skew(.44deg)
    }

    25% {
        clip: rect(66px,9999px,40px,0);
        transform: skew(.66deg)
    }

    30% {
        clip: rect(3px,9999px,18px,0);
        transform: skew(.52deg)
    }

    35% {
        clip: rect(58px,9999px,40px,0);
        transform: skew(.93deg)
    }

    40% {
        clip: rect(33px,9999px,100px,0);
        transform: skew(.18deg)
    }

    45% {
        clip: rect(82px,9999px,61px,0);
        transform: skew(.23deg)
    }

    50% {
        clip: rect(99px,9999px,76px,0);
        transform: skew(.83deg)
    }

    55% {
        clip: rect(89px,9999px,47px,0);
        transform: skew(.19deg)
    }

    60% {
        clip: rect(85px,9999px,42px,0);
        transform: skew(.43deg)
    }

    65% {
        clip: rect(73px,9999px,3px,0);
        transform: skew(.97deg)
    }

    70% {
        clip: rect(50px,9999px,10px,0);
        transform: skew(.85deg)
    }

    75% {
        clip: rect(82px,9999px,88px,0);
        transform: skew(.18deg)
    }

    80% {
        clip: rect(22px,9999px,38px,0);
        transform: skew(.32deg)
    }

    85% {
        clip: rect(46px,9999px,32px,0);
        transform: skew(.61deg)
    }

    90% {
        clip: rect(46px,9999px,98px,0);
        transform: skew(.93deg)
    }

    95% {
        clip: rect(35px,9999px,52px,0);
        transform: skew(1deg)
    }

    to {
        clip: rect(90px,9999px,5px,0);
        transform: skew(.58deg)
    }
}

/*
.icon-link {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .icon-link:hover {
    box-shadow: 0 0 12px white;
    background-color: white;
    color: black;
  }
*/
  
  
  .pulse-wrapper {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 0px;
    margin: 0 6px;
  }
  
  .pulse-wrapper i {
    color: #04ff00;
    font-size: 8px;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse-glow 1.4s infinite ease-out;
  }
  
  @keyframes pulse-glow {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    70% {
      transform: scale(2.2);
      opacity: 0;
    }
    100% {
      transform: scale(2.2);
      opacity: 0;
    }
  }
  
  .refbacklast {
    position: relative;
    font-family: 'Cal Sans', sans-serif;
    font-style: italic;
    color: #aaa; /* or any base color */
    text-decoration: none;
    transition: color 0.3s ease; /* smooth text color transition */
  }
  
  .refbacklast::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .refbacklast:hover {
    color: white;
  }
  
  .refbacklast:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  
  
  .footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: 'Cal Sans', sans-serif;
    color: white;
  }
  
  .right-status {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  
  .uwaterloo-hover {
    position: relative;
    display: inline-block;
  }
  
  .goose-img {
    position: absolute;
    top: 60px;
    left: 120%;
    transform: translateX(-50%);
    width: 80px;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 10;
  }
  
  .uwaterloo-hover:hover .goose-img {
    opacity: 1;
  }
  
  
  
  

  .learn-link {
    position: relative;
    color: #a85757;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .learn-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #a85757;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .learn-link:hover {
    color: #fff;
  }
  
  .learn-link:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }

  .projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 32px 0;
}

.project-card {
  background: #000000;
  border-radius: 12px;
  padding: 0 0 24px 0;
  color: #fff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #222;
  display: block;
}

.project-desc {
  padding: 20px 18px 0 18px;
  width: 100%;
  text-align: left;
}

.project-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.project-card p {
  margin-bottom: 12px;
  color: #bdbdbd;
}

.project-card a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s;
}

.project-card a:hover {
  color: #a0a0a0;
}

@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .project-img {
    height: 140px;
  }
}
  